<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<meta charset="utf-8" />
	<title>Student</title>
	<link rel='shortcut icon' href="#" />
	<link rel="stylesheet" type="text/css" href="/style/student.css" />
	<script type="text/javascript" src="/src/setTitle.js"></script>
	<!-- <script type="text/javascript" src="/src/student.js"></script> -->

</head>

<!-- 匯入字體 -->
<style>
	@import url('https://fonts.googleapis.com/css2?family=Abel&family=East+Sea+Dokdo&family=Rubik+Bubbles&display=swap');
</style>


<body id="background">

	<div id="title">
		<div id="student">
			Student
		</div>


		<form id="app_pos" action='/application/list' method="get">
			<input id="application" type="submit" name="button" value="宿舍申請" />
			<!-- <a class="application" href = 'javascript:;' onclick="javascript:show()">宿舍申請</a> -->
		</form>

		<form id="info_pos" action='/dormitory/list' method="get">
			<input id="information" type="submit" name="button" value="宿舍資訊" />
			<!-- <a class="information" href = 'javascript:;' onclick="javascript:show_dormitory_info()">宿舍資訊</a> -->
		</form>

		<form id="vio_pos" action='/violation/list' method="get">
			<input id="violation_record" type="submit" name="button" value="違規紀錄" />
			<!-- <a class="Violation_record" href = 'javascript:;' onclick="javascript:show()">違規紀錄查詢</a> -->
		</form>

		<form id="boarder_pos" action='/board/list' method="get">
			<input id="board" type="submit" name="button" value="佈告欄" />
			<!-- <a class = 'board' href = 'javascript:;' onclick="javascript:show_board()">布告欄</a> -->
		</form>


		<div id="line">
			————————————
		</div>

		<div id="address_1">
			地址:
		</div>

		<div id='address_2'>
			高雄市楠梓區高雄大學路700號
		</div>

		<div id="telephone_1">
			電話:
		</div>

		<div id='telephone_2'>
			07-5919000
		</div>


	</div>

	<!-- 申請列表顯示 -->
	<% if (!applications[0]) { %>

		<table id="dormitory" cellpadding="25px">
			<tr>
				<td>
					申請宿舍大樓:
				</td>

				<form action="/application/request" , method="post">
					<td><select name="dormitory">
							<% for (let dormitory of dormitories) {%>

								<option value="<%= dormitory.name %>">
									<%= dormitory.name %>
								</option>
								<% } %>
						</select>
						<input type="submit" onclick="alert('繳交成功!')">
					</td>


				</form>

			</tr>
		</table>

		<div>
			<%} else {%>
				<div id="application_state">
					<table style="border:3px #40a25f solid; " cellpadding="10" border='1'>
						<tr>
							<td>
								<%= applications[0].date %>
							</td>
							<td>
								<%= applications[0].studentUserID %>
							</td>
							<td>
								<%= applications[0].semester %>
							</td>
							<td>
								<%= applications[0].date %>
							</td>
							<td>
								<%= applications[0].approved %>
							</td>
							<td>
								<%= applications[0].paid %>
							</td>
							<td>
								<%= applications[0].adminUserID %>
							</td>
						</tr>
					</table>
					<%}%>
				</div>

		</div>



</body>

</html>